

{% extends 'admin/layout.html.twig' %}
{% block title %} {{parent()}} | Produits {% endblock %}

{% block dataStructured %}{% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block title_page %}Produits{% endblock %}
{% block body_bo %}
    <div class="layout-px-spacing">
        <div class="row layout-top-spacing">
            
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-bottom:24px;">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">                                
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Nouveau Produit</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">{{ include('product/_form.html.twig') }}
                            </div>
                        </div>
                    </div>


        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $('#sidebar .menu.menu-produit').addClass('active');
    </script>
{% endblock %}
