.toast__container {
	font-family: 'Roboto Condensed', sans-serif;
	position:fixed;
	left: 50%;
	bottom: 10%;
  z-index: 10000;
	text-align: center;
}

.toast__cell{
  display:inline-block;
}
   .toast {
      backdrop-filter: none !important;
  }
.add-margin{
  margin-top:20px;
}

.toast__svg{
  fill:#fff;
}

.toast {
display:none;
  text-align:left;
    padding: 21px 0;
    background-color:#fff;
    border-radius:4px;
    max-width: 500px;
	min-width:290px;
    top: 0px;
	left: -50%;
    position:relative;
    box-shadow: 1px 5px 20px -3px rgba(0,0,0,0.2);
}


.toast:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;

}

.toast__icon{
  position:absolute;
  top:50%;
  left:22px;
  transform:translateY(-50%);
  width:14px;
  height:14px;
  width: 14px;
  height: 14px;
  padding: 7px;
  border-radius:50%;
  display:inline-block;
}

.toast__type {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast__message {
    font-size: 14px;
    margin-top: 0;
  margin-bottom: 0;
    color: #878787;
}

.toast__content{
  padding-left:70px;
  padding-right:60px;
}

.toast__close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor:pointer;
    height: 14px;
  fill:#878787;
    transform: translateY(-50%);
}

.toast--green .toast__icon{
  background-color:#2BDE3F;
}

.toast--green:before{
  background-color:#2BDE3F;
}

.toast--blue .toast__icon{
  background-color:#1D72F3;
}

.toast--blue:before{
  background-color:#1D72F3;
}

.toast--yellow .toast__icon{
  background-color:#FFC007;
}

.toast--yellow:before{
  background-color:#FFC007;
}

/*BTN Style Start(if don't use button, can delete here)*/
.ussal-btn-success{
	font-family: 'Raleway', sans-serif;
	padding:15px 20px;
	border-radius:10px;
	background-color:#2BDE3F;
	color:#fefefe;
	margin:10px;
}
.ussal-btn-error{
	font-family: 'Raleway', sans-serif;
	padding:15px 20px;
	border-radius:10px;
	background-color:#FFC007;
	color:#fefefe;
	margin:10px;
}
.ussal-btn-info{
	font-family: 'Raleway', sans-serif;
	padding:15px 20px;
	border-radius:10px;
	background-color:#1D72F3;
	color:#fefefe;
	margin:10px;
}


/*BTN Style Finish*/



