<form method="post" action="{{ path('abonnement_subscription_delete', {'id': abonnement_subscription.id}) }}" onsubmit="return confirm('Etes-vous sure de vouloir supprimer cette souscription?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ abonnement_subscription.id) }}">
    <button class="btn btn-primary">Delete</button>
</form>
